<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_575 gap-3">
                    <h4 class="ct_fs_28 ct_fw_600 mb-0 ct_ff_Rajdhani">View Orders</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_575">
                        <div class="ct_search ct_w_100_575">
                            <input type="text" class="form-control" placeholder="Search by customer name..." />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                    </div>
                </div>
                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Order Id</th>
                                <th>Product </th>
                                <th>Customer</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ct_brown_light_status">
                                <td>1</td>
                                <td>#OGX-983472</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                </td>
                                <td>
                                    <a routerLink="/home/view-order" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="ct_green_light_status">
                                <td>2</td>
                                <td>#OGX-983472</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Delivered</span>
                                </td>
                                <td>
                                    <a href="order-details.html" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="ct_blue_light_status">
                                <td>3</td>
                                <td>#OGX-983472</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_blue_clr ct_fw_600">Shipped</span>
                                </td>
                                <td>
                                    <a href="order-details.html" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="ct_red_light_status">
                                <td>4</td>
                                <td>#OGX-983472</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_red_clr ct_fw_600">Cancelled</span>
                                </td>
                                <td>
                                    <a href="order-details.html" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="ct_green_light_status">
                                <td>5</td>
                                <td>#OGX-983472</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Delivered</span>
                                </td>
                                <td>
                                    <a href="order-details.html" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>