<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between">
                    <h4 class="d-flex align-items-center gap-2 ct_fw_600 ct_ff_Rajdhani"><a routerLink="/home/support"
                            class="ct_black_text"><i class="fa-solid fa-angle-left"></i></a>View Ticket</h4>
                </div>

                <div class="ct_pt_30 ">
                    <div class="d-flex align-items-center gap-3 ct_mt_20 flex-wrap justify-content-between">
                        <div class="d-flex align-items-center gap-3">
                            <img src="img/user.jpg" alt="" class="ct_img_w_60 ct_cursor_pointer" data-bs-toggle="modal"
                                data-bs-target="#full_view_img">
                            <div>
                                <h5 class="ct_fs_20 ct_fw_600 mb-0 ct_ff_lato">Emily Parker</h5>
                                <p class="mb-0 ct_text_4B5563">Feb 23, 2024</p>
                            </div>
                        </div>
                        <!-- <div class="ct_custom_badge ct_border_radius_5 px-4" style="background-color: #00800026; color: #008000;">
                                <span>Resolved</span>
                            </div> -->
                        <div class="ct_custom_badge ct_border_radius_5 px-4"
                            style="background-color: #FF5E0026; color: #FF5E00;">
                            <span>Pending</span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1 ct_dark_green_clr">Issue</h4>
                        <p class="mb-0 ct_text_4B5563">Having issues with payment processing. The transaction keeps
                            failing when I try to complete the purchase. Can someone help me resolve this?</p>
                    </div>

                    <!-- when issue is  pending then hide this div S -->
                    <div class="mt-4">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1 ct_dark_green_clr">Admin’s Response</h4>
                        <p class="mb-0 ct_text_4B5563 ct_para_scroll ct_custom_scrollbar">Hi! Sorry to hear you're
                            having trouble with the payment. Please make sure you're using a valid card or UPI method
                            and have a stable internet connection. You can also try refreshing the page or restarting
                            the app before trying again. Let us know if the issue continues — we're here to help!</p>
                    </div>
                    <!-- when issue is  resolved then show this div S -->



                </div>

            </div>

        </div>



    </div>
</div>