<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <h4 class="ct_fs_28 ct_fw_600 mb-4 ct_ff_Rajdhani">Earnings & Payouts</h4>
        <div class="row">

            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card ct_box_shadow_card align-items-center">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$12,455</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Earnings
                        </h6>
                    </div>
                    <div>
                        <img src="img/total_earning_icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card ct_box_shadow_card align-items-center">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$12,345</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Pending Amount
                        </h6>

                    </div>
                    <div>
                        <img src="img/pending_icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card ct_box_shadow_card align-items-center">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$12,345</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Received Amount
                        </h6>

                    </div>
                    <div>
                        <img src="img/received_amont.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- <div
                  class="d-flex align-items-center justify-content-between mb-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <div class="ct_search">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Search by status"
                      />
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                  
                  </div>
                </div> -->
                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Date</th>
                                <th>Total Amount </th>
                                <th>Platform Fee</th>
                                <th>Transaction Charge</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ct_brown_light_status">
                                <td>1</td>
                                <td>Jul 11, 2025</td>
                                <td>
                                    $ 100.00
                                </td>
                                <td>$ 0.00</td>
                                <td> $ 0.00</td>
                                <td>
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                </td>

                            </tr>
                            <tr class="ct_green_light_status">
                                <td>2</td>
                                <td>Jul 11, 2025</td>
                                <td>
                                    $ 100.00
                                </td>
                                <td>$ 0.00</td>
                                <td> $ 0.00</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Paid</span>
                                </td>
                            </tr>
                            <tr class="ct_blue_light_status">
                                <td>3</td>
                                <td>Jul 11, 2025</td>
                                <td>
                                    $ 100.00
                                </td>
                                <td>$ 0.00</td>
                                <td> $ 0.00</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Paid</span>
                                </td>
                            </tr>
                            <tr class="ct_red_light_status">
                                <td>4</td>
                                <td>Jul 11, 2025</td>
                                <td>
                                    $ 100.00
                                </td>
                                <td>$ 0.00</td>
                                <td> $ 0.00</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Paid</span>
                                </td>
                            </tr>
                            <tr class="ct_green_light_status">
                                <td>5</td>
                                <td>Jul 11, 2025</td>
                                <td>
                                    $ 100.00
                                </td>
                                <td>$ 0.00</td>
                                <td> $ 0.00</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Paid</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>