<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_575 gap-3">
                    <h4 class="ct_fs_28 ct_fw_600 mb-0 ct_ff_Rajdhani">Customer Connect</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_575">
                        <div class="ct_search ct_w_100_575">
                            <input type="text" class="form-control" placeholder="Search by customer name..." />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <ul class="nav nav-pills mb-3 ct_custom_tabs ct_flex_col_575" id="pills-tab" role="tablist">
                        <li class="nav-item ct_w_100_575" role="presentation">
                            <button class="nav-link ct_w_100_575 active" id="pills-All-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-All" type="button" role="tab" aria-controls="pills-All"
                                aria-selected="true">
                                All
                            </button>
                        </li>
                        <li class="nav-item ct_w_100_575" role="presentation">
                            <button class="nav-link ct_w_100_575" id="pills-Resolved-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-Resolved" type="button" role="tab" aria-controls="pills-Resolved"
                                aria-selected="false" tabindex="-1">
                                Resolved
                            </button>
                        </li>
                        <li class="nav-item ct_w_100_575" role="presentation">
                            <button class="nav-link ct_w_100_575" id="pills-Pending-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-Pending" type="button" role="tab" aria-controls="pills-Pending"
                                aria-selected="false" tabindex="-1">
                                Pending
                            </button>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-All" role="tabpanel"
                            aria-labelledby="pills-All-tab">
                            <div class="table-responsive ct_custom_table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Customer</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="ct_brown_light_status">
                                            <td>1</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                            </td>
                                            <td>
                                                <a routerLink="/home/enquiry-detail" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_green_light_status">
                                            <td>2</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_green_clr ct_fw_600">Resolved</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_blue_light_status">
                                            <td>3</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_red_light_status">
                                            <td>4</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_green_light_status">
                                            <td>5</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_green_clr ct_fw_600">Resolved</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-Resolved" role="tabpanel"
                            aria-labelledby="pills-Resolved-tab">
                            <div class="table-responsive ct_custom_table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Customer</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="ct_brown_light_status">
                                            <td>1</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_green_clr ct_fw_600">Resolved</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_green_light_status">
                                            <td>2</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_green_clr ct_fw_600">Resolved</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_blue_light_status">
                                            <td>3</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_green_clr ct_fw_600">Resolved</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_red_light_status">
                                            <td>4</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_green_clr ct_fw_600">Resolved</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_green_light_status">
                                            <td>5</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_green_clr ct_fw_600">Resolved</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-Pending" role="tabpanel"
                            aria-labelledby="pills-Pending-tab">
                            <div class="table-responsive ct_custom_table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Customer</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="ct_brown_light_status">
                                            <td>1</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_green_light_status">
                                            <td>2</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_blue_light_status">
                                            <td>3</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_red_light_status">
                                            <td>4</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="ct_green_light_status">
                                            <td>5</td>
                                            <td>Emily Parker</td>
                                            <td>
                                                <span class="ct_overlay_text">Having issues with payment processing. The
                                                    transaction keeps failing when I try to
                                                    complete the purchase. Can someone help me
                                                    resolve this?</span>
                                            </td>
                                            <td>Feb 23, 2024</td>
                                            <td>
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                            </td>
                                            <td>
                                                <a href="enquiry-details.html" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>