<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_28  ct_fw_600 ct_ff_Rajdhani mb-4">Notifications</h4>

                <div class="ct_outline_bg pe-0">
                    <ul class="ct_notification_list ct_custom_scrollbar ct_pe_30">
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_018180 ct_fw_600">New Order</h4>
                                <p class="mb-0">Order for $129.99 from John Smith</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_018180 ct_fw_600">User Enquiry</h4>
                                <p class="mb-0">Question about "Golf Kit"</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_018180 ct_fw_600">Payment Received</h4>
                                <p class="mb-0">Payment of $649.99 has been processed</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_018180 ct_fw_600">New Order</h4>
                                <p class="mb-0">Order for $129.99 from John Smith</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_018180 ct_fw_600">New Order</h4>
                                <p class="mb-0">Order for $129.99 from John Smith</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>