<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_28  ct_fw_600 ct_ff_Rajdhani mb-4">Change Password</h4>

                <div class="ct_px_30_new  ct_outline_bg">
                    <div class="d-flex align-items-center justify-content-between gap-3">
                        <div class="d-flex align-items-center gap-4">
                            <div class="ct_upload_user_profile_img">
                                <img src="img/user.jpg" alt="" />

                            </div>
                            <div>
                                <h4 class="ct_fs_18 ct_fw_700 mb-1">Alice Johnson</h4>
                                <p class="mb-0 ct_text_op_05 ct_fs_14">
                                    Alicejhonson2025gmail.com
                                </p>
                            </div>
                        </div>

                    </div>

                    <form class="mt-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 mb-2">Current Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control ct_input ct_input_pe_40"
                                            placeholder="Enter current password" required>
                                        <i class="fa-regular fa-eye-slash ct_show_eye"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 mb-2">New Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control ct_input ct_input_pe_40"
                                            placeholder="Enter new password" required>
                                        <i class="fa-regular fa-eye-slash ct_show_eye"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 mb-2">Confirm Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control ct_input ct_input_pe_40"
                                            placeholder="Enter confirm password" required>
                                        <i class="fa-regular fa-eye-slash ct_show_eye"></i>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="mt-4">
                            <button type="button" class="ct_dark_green_btn">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>