<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_28  ct_fw_600 ct_ff_Rajdhani mb-2">Edit Profile</h4>

                <div class="ct_px_30_new  ct_outline_bg">
                    <div class="d-flex align-items-center justify-content-between gap-3 ct_flex_col_767">
                        <div class="d-flex align-items-center gap-4">
                            <div class="ct_upload_user_profile_img">
                                <img [src]="businessLogoUrl ? businessLogoUrl : 'img/_brand_logo.png'" alt=""
                                    class="ct_img_w_148" />
                                <label for="ct_upload_user_profile2" class="position-relative d-block">
                                    <input type="file" class="d-none" id="ct_upload_user_profile2" />
                                    <!-- <div class="ct_authore_banner_upload_icon_12">
                                        <i class="fa-solid fa-pencil"></i>
                                    </div> -->
                                </label>
                            </div>
                            <div>
                                <h4 class="ct_fs_18 ct_fw_700 mb-1">{{name}}</h4>
                                <p class="mb-0 ct_text_op_05 ct_fs_14">
                                    {{email}}
                                </p>
                            </div>
                        </div>
                        <a routerLink="/home/shop-customization"
                            class="ct_outline_btn ct_border_radius_10 ct_w_100_767">
                            <i class="fa-solid fa-pencil me-2"></i> Edit Shop Details
                        </a>
                    </div>

                    <form class="mt-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 mb-2">Full Name</label>
                                    <input type="text" class="form-control ct_input" placeholder="Full name"
                                        [(ngModel)]="name" disabled [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="ct_fw_600 mb-2">Email Address</label>
                                    <input type="email" class="form-control ct_input " disabled
                                        placeholder="Email address" [(ngModel)]="email"
                                        [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>

                        </div>

                        <!-- <div class="mt-4">
                            <button type="button" class="ct_dark_green_btn">Save Changes</button>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>