<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <h4 class="ct_fs_28 ct_fw_600 mb-4 ct_ff_Rajdhani">Sales Analytics</h4>
        <div class="row">
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$12,455</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Revenue
                        </h6>
                    </div>
                    <div>
                        <img src="img/total_earning_icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">479</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Orders
                        </h6>
                    </div>
                    <div>
                        <img src="img/total_listing_icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">156</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Products Sold
                        </h6>

                    </div>
                    <div>
                        <img src="img/total_order_icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$128</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Avg. Order Value
                        </h6>

                    </div>
                    <div>
                        <img src="img/pending_order_icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-8 col-xl-7 mb-4 mb-xl-0">
                <div class="ct_outline_bg">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h4 class="ct_fs_20 ct_fw_600 mb-0">Recent Orders</h4>
                        <div>
                            <select class="form-control ct_transparent_select">
                                <option value="">This Year</option>
                            </select>
                        </div>
                    </div>

                    <div id="chart"></div>

                </div>

            </div>
            <div class="col-xxl-4 col-xl-5 mb-4 mb-xl-0">
                <div class="ct_outline_bg h-100 pe-0">
                    <h4 class="ct_fs_20 ct_fw_600 mb-4">Top Selling Products</h4>
                    <ul class="ct_seeling_products_list ct_custom_scrollbar ct_pe_30">
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-2 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-2 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-2 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-2 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-2 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>