<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between">
                    <h4 class="d-flex align-items-center gap-2 ct_fw_600 ct_ff_Rajdhani">
                        <a routerLink="/home/support" class="ct_black_text"><i
                                class="fa-solid fa-angle-left"></i></a>Raise Ticket
                    </h4>
                </div>
                <form action="" class="mt-4">
                    <div class="form-group mb-4">
                        <label for="product_name" class="mb-2 ct_fw_600 ct_fs_18">Full Name</label>
                        <input type="text" class="form-control ct_input " id="product_name"
                            placeholder="Enter your full name" />
                    </div>
                    <div class="form-group mb-4">
                        <label for="product_name" class="mb-2 ct_fw_600 ct_fs_18">Email Address</label>
                        <input type="email" class="form-control ct_input " id="product_name"
                            placeholder="Enter email address" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="product_name" class="mb-2 ct_fw_600 ct_fs_18">Description</label>
                        <textarea type="text" class="form-control ct_input  h-auto" rows="4"
                            placeholder="Provide detailed information about your issue."></textarea>
                    </div>

                    <div class="d-flex align-items-center gap-3">
                        <button type="submit" class="ct_dark_green_btn ct_border_radius_5 ct_fw_600">
                            Add Ticket
                        </button>
                        <a href="support.html" class="ct_outline_btn ct_border_radius_5  ct_fw_600">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>