<section class="ct_login_grid_2 align-items-center">
    <div class="ct_login_left_form">
        <div class="w-100 ct_login_inner_left_form">
            <div class="ct_mb_30 text-center">
                <h4 class="ct_fs_24 ct_fw_600 ct_ff_Rajdhani text-white  text-center">Reset Password</h4>
                <p class="ct_text_op_07 text-white mb-0">OTP is sent to
                    <br> {{userEmail}}.
                </p>
            </div>
            <form [formGroup]="Form" (ngSubmit)="onSubmit()">

                <!-- <div class="form-group mb-4">
                    <label for="" class="mb-2  text-white">OTP</label>
                    <div class="position-relative">
                        <input type="text" class="form-control ct_input ct_login_input ct_input_ps_50 ct_input_pe_40"
                            placeholder="Enter OTP" formControlName="otp" [maxlength]="6">
                    </div>
                    <span class="ct_text_red mt-2">{{validationErrorService.getErrorMessage('OTP',
                        Form.get('otp'))}}</span>
                </div> -->

                <div class="form-group mb-4">
                    <nz-flex nzVertical [nzGap]="20">
                        <nz-flex nzVertical>
                            <label for="" class="mb-2 text-white">OTP</label>
                            <!-- NZ-ZORRO OTP Input -->
                            <nz-input-otp formControlName="otp" [nzLength]="4" [nzSize]="'default'">
                            </nz-input-otp>
                            <!-- Validation Error Message -->
                            <span class="ct_text_red mt-2">
                                {{ validationErrorService.getErrorMessage('OTP', Form.get('otp')) }}
                            </span>
                        </nz-flex>
                    </nz-flex>
                </div>


                <div class="form-group mb-2">
                    <label for="" class="mb-2 text-white">Password</label>
                    <div class="position-relative">
                        <input type="{{ isPasswordVisible ? 'text' : 'password' }}"
                            class="form-control ct_input ct_login_input ct_input_ps_50  ct_input_pe_40"
                            placeholder="Enter password" formControlName="password">
                        <i class="fa-regular ct_show_eye text-white ct_text_op_05 ct_color" style="cursor: pointer;"
                            [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
                            (click)="togglePasswordVisibility()"></i>
                    </div>
                    <span class="ct_text_red mt-2">{{validationErrorService.getErrorMessage('Password',
                        Form.get('password'))}}</span>
                </div>
                <div class="ct_mt_30">
                    <app-submit-button [isLoading]="isLoading" [text]="'Submit'"
                        [class]="'ct_dark_green_btn w-100'"></app-submit-button>
                    <p class="mb-0 mt-3 text-center text-white">Didn't get otp? <a (click)="resendOtp()"
                            class="ct_forgot_link">Resend</a></p>
                </div>
            </form>
        </div>
    </div>

    <div class="ct_login_right_content">
        <h1 class="ct_fs_60 text-white ct_ff_lato">Welcome to <br> <span class="ct_text_0bbe96 ct_ff_Rajdhani">ONLY
                GOLF</span></h1>
        <p class="mb-0 text-white ct_ff_lato">Control your golf universe.</p>
    </div>

</section>

<div class="ct_loader_main" *ngIf="isLoadingResend">
    <img src="/img/loader.gif" alt="">
</div>