.ct_color {
    color: black !important;
}

.ct_text_red {
    color: rgb(244 46 46);
    text-align: center;
}



.ct_back_to_login a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    font-weight: 600;
    justify-content: center;
}

.ct_back_to_login a:hover {
    color: #0bbe96;
}