<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between">
                    <h4 class="d-flex align-items-center gap-2 ct_fw_600 ct_ff_Rajdhani"><a routerLink="/home/customer-connect"
                            class="ct_black_text"><i class="fa-solid fa-angle-left"></i></a>Enquiry Details</h4>
                </div>

                <div class="ct_pt_30 ">
                    <div class="d-flex align-items-center gap-3 ct_mt_20">
                        <img src="img/user.jpg" alt="" class="ct_img_w_60 ct_cursor_pointer"
                            data-bs-toggle="modal" data-bs-target="#full_view_img">
                        <div>
                            <h5 class="ct_fs_20 ct_fw_600 mb-0 ct_ff_lato">Emily Parker</h5>
                            <p class="mb-0 ct_text_4B5563">Feb 23, 2024</p>
                        </div>
                    </div>

                    <div class="mt-4">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1 ct_dark_green_clr">Issue</h4>
                        <p class="mb-0 ct_text_4B5563">Having issues with payment processing. The transaction keeps
                            failing when I try to complete the purchase. Can someone help me resolve this?</p>
                    </div>

                    <!-- when issue is  resolved then show this div S -->
                    <div class="mt-4">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1 ct_dark_green_clr">Your Response</h4>
                        <p class="mb-0 ct_text_4B5563 ct_para_scroll ct_custom_scrollbar">Hi! Sorry to hear you're
                            having trouble with the payment. Please make sure you're using a valid card or UPI method
                            and have a stable internet connection. You can also try refreshing the page or restarting
                            the app before trying again. Let us know if the issue continues — we're here to help!</p>
                    </div>
                    <!-- when issue is  resolved then show this div S -->
                    <!-- when issue is  pending then show this div S -->
                    <div class="mt-4 d-none">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1 ct_dark_green_clr mb-2">Your Response</h4>
                        <textarea class="form-control ct_input h-auto" rows="4"
                            placeholder="Type your response here..."></textarea>
                    </div>
                    <!-- when issue is  pending then show this div S -->

                    <div class="d-flex align-items-center gap-3 mt-5 ct_flex_col_575">
                        <button type="button" class="ct_dark_green_btn ct_border_radius_5 ct_fw_600 ct_w_100_575">
                            Answer and Resolve
                        </button>
                        <a href="customer-connect.html"
                            class="ct_outline_btn ct_border_radius_5  ct_fw_600 ct_w_100_575">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>