<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_575">
                    <h4 class="d-flex align-items-center gap-2 ct_fw_600 ct_ff_Rajdhani mb-0"><a
                            routerLink="/home/order-list" class="ct_black_text"><i
                                class="fa-solid fa-angle-left"></i></a>Order Details</h4>
                    <button class="ct_outline_btn ct_w_100_575">Mark as Shipped</button>
                </div>
                <div class="ct_grey_bg">
                    <div class="d-flex align-items-center justify-content-between gap-2 ct_flex_col_575">
                        <h4 class="ct_fs-20 ct_fw_600 mb-0">Order #OGX-983472</h4>
                        <p class="mb-0 ct_tex_6B7280">June 26, 2025</p>
                    </div>
                    <ul class="mt-2">
                        <li class="d-flex align-items-center gap-2">
                            <img src="img/green_pay_card.svg" alt="">
                            <p class="mb-0 ct_fs_16 ct_dark_green_clr ct_fw_600">Paid</p>
                        </li>
                        <li>
                            <span class="ct_dot_8"></span>
                        </li>
                        <li>
                            <p class="mb-0 ct_dark_green_clr ct_fw_600">$12,999</p>
                        </li>
                    </ul>

                </div>

                <div class="ct_pt_30 ct_border_btm_1 ct_pb_30">
                    <h4 class="ct_fs_20 ct_fw_600 ct_ff_lato">Customer Details</h4>
                    <div class="d-flex align-items-center gap-3 ct_mt_20">
                        <img src="img/user.jpg" alt="" class="ct_img_w_60 ct_cursor_pointer" data-bs-toggle="modal"
                            data-bs-target="#full_view_img">
                        <div>
                            <h5 class="ct_fs_20 ct_fw_600 mb-0 ct_ff_lato">Alton Rodriguez</h5>
                        </div>
                    </div>

                    <ul class="ct_mt_20">
                        <li class="d-flex align-items-center gap-2">
                            <img src="img/mail_icon.svg" alt="" class="ct_flex_shrink_0">
                            <p class="ct_text_4B5563 mb-0">john.memail.com</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 mt-3">
                            <img src="img/phone_icon.svg" alt="" class="ct_flex_shrink_0">
                            <p class="ct_text_4B5563 mb-0">(603) 555-0123</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 mt-3">
                            <img src="img/location_icon.svg" alt="" class="ct_flex_shrink_0">
                            <p class="ct_text_4B5563 mb-0">2464 Royal Ln. Mesa, New Jersey 45463</p>
                        </li>
                    </ul>

                </div>

                <div class="ct_pt_30 ct_border_btm_1 ct_pb_30">
                    <h4 class="ct_fs_20 ct_fw_600 ct_ff_lato">Product Details</h4>
                    <div class="d-flex align-items-center gap-3 ct_mt_20 ct_flex_col_575">
                        <img src="img/product_img_1.png" alt="" class="ct_img_w_120 ct_cursor_pointer"
                            data-bs-toggle="modal" data-bs-target="#full_view_img">
                        <div class="ct_flex_1 ">
                            <div class="d-flex align-items-center  gap-2 ct_flex_col_575 ">
                                <h5 class="ct_fs_20 ct_fw_600 mb-0 ct_ff_lato w-50">Shot Scope</h5>
                                <p class="ct_fs_16 ct_fw_600 mb-0 md-ms-auto ">$245.00</p>
                            </div>
                            <ul class="mt-2">
                                <li class="ct_text_6E6F76">
                                    H4 GPS Handheld + Performance Tracking
                                </li>
                                <li class="mt-0 ct_text_6E6F76">
                                    Quantity: 1
                                </li>
                                <li class="mt-0 ct_text_6E6F76">
                                    Estimated Delivery: July 4, 2025
                                </li>
                            </ul>
                        </div>
                    </div>



                </div>

                <div class="ct_pt_30 ct_border_btm_1 ct_pb_30">
                    <h4 class="ct_fs_20 ct_fw_600 ct_ff_lato">Payment Information</h4>
                    <ul class="ct_mt_20">
                        <li class="d-flex align-items-center gap-2">
                            <img src="img/credit_card_icon.svg" alt="" class="ct_flex_shrink_0">
                            <p class="ct_text_4B5563 mb-0">Credit Card</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 mt-3">
                            <img src="img/green_check_icon.svg" alt="" class="ct_flex_shrink_0">
                            <p class="ct_text_4B5563 mb-0">Payment Received</p>
                        </li>
                    </ul>

                </div>

                <div class="ct_pt_30">
                    <h4 class="ct_fs_20 ct_fw_600 ct_ff_lato">Order Status</h4>
                    <ul class="ct_mt_20">
                        <li class="d-flex align-items-center gap-2">
                            <div class="ct_order_icon" style="background-color: #FF9800;">
                                <img src="img/order_status_pending_icon.svg" alt="">
                            </div>
                            <div>
                                <h4 class="ct_fs_18 ct_fw_600 mb-0 ct_black_text">Pending</h4>
                                <p class="mb-0 ct_tex_6B7280">Order is being processed</p>
                            </div>
                        </li>
                        <!-- add Class when active: ct_shipped_status_active -->
                        <li class="d-flex align-items-center gap-2  mt-3">
                            <div class="ct_order_icon">
                                <img src="img/order_status_shipped_icon.svg" alt="">
                            </div>
                            <div>
                                <h4 class="ct_fs_18 ct_fw_600 mb-0 ct_text_9CA3AF">Shipped</h4>
                                <p class="mb-0 ct_tex_6B7280">Not Shipped</p>
                            </div>
                        </li>
                        <!-- add Class when active: ct_not_delivered_status_active -->
                        <li class="d-flex align-items-center gap-2  mt-3">
                            <div class="ct_order_icon">
                                <img src="img/order_status_not_delivered_icon.svg" alt="">
                            </div>
                            <div>
                                <h4 class="ct_fs_18 ct_fw_600 mb-0 ct_text_9CA3AF">Not Delivered</h4>
                                <p class="mb-0 ct_tex_6B7280">Order is not delivered</p>
                            </div>
                        </li>
                    </ul>

                </div>


            </div>

        </div>



    </div>
</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                    Image Preview
                </h5>
                <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ct_full_view_img">
                    <img src="img/user.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>